.top-flex-container {
    display:flex;
    width:100vw;
    max-width:100%;
    height:5vh;
    margin:0;
    padding-right:10px;
  }

  .bottom-flex-container {
    display:flex;
    width:100vw;
    max-width:100%;
    height:95vh;
    margin:0;
    padding-right:10px;
  }

  .flex-left-edge {
    flex:1;
    background-color:dodgerblue;
  }

  .flex-right-edge {
    flex:1;
    background-color:dodgerblue;
  }

  .flex-center {
    flex:2;
  }

  