.table-container{
    min-height: 250px ;
    max-height: 250px ;
    overflow: auto ;
    width:100%;

  }

table {
  width:100%
}

.mat-card-title{
  font-size: 14px;
}

.mat-row:hover {
  background-color: tan;
}

.on-floor {
  background-color: #c6fdbf;
}

.out-floor {
  background-color: #ffb8b8;
}

.selectedRow{
  background-color: #cdc95b;
}

.selected{
  background-color: #8ac2ff;
}

