.top-flex-container {
    display:flex;
    width:100vw;
    max-width:100%;
    height:10vh;
    margin:0;
    padding-right:10px;
    background-color:#d9bfe4;
}

  .bottom-flex-container {
    display:flex;
    width:100vw;
    max-width:100%;
    height:90vh;
    margin:0;
    padding-right:10px;
    background-color:ivory;
  }

  .flex-left-edge {
    flex:1;background:yellow;
  }

  .flex-right-edge {
    flex:1;
    text-align:right;
  }
  
  .flex-center {
    flex:2;
  }

  .player-flex-container {
    display:flex;
    height:100%;
    margin:0;
  }

  .top-score {
    font-weight:bold;
    font-size:24px;
    height:100%;
    padding-top:2vh;
    margin-left:10px;
    margin-right:10px;
  }
  