<div class="top-flex-container">
  <div class="flex-left-edge">{{game.VisitorSchool?.Name}}</div>
  <div class="flex-center">middle</div>
  <div class="flex-right-edge">{{game.VisitorSchool?.Name}}</div>
</div>
<div class="bottom-flex-container">
  <div class="flex-left-edge">
    <app-player-list [game]="game" [rosterType]="'home'" (selectPlayer)="playerSelected($event)"></app-player-list>
   <app-player-list [game]="game" [rosterType]="'visitor'" (selectPlayer)="playerSelected($event)"></app-player-list>
  </div>
  <div class="flex-center">
   <app-stat-actions [game]="game" [currentPlayer]="currentPlayer" (action)="actionAdded()"></app-stat-actions>
  </div>
  <div class="flex-right-edge">
    <app-statitem-list #statItemPanel [game]="game" (selectStatitem)="showStatItem($event)"
    [currentPlayer]="currentPlayer"></app-statitem-list>
  </div>
</div>

