<div class="top-flex-container">
  <div class="flex-left-edge">{{game.VisitorSchool?.Name}}</div>
  <div class="flex-center">middle</div>
  <div class="flex-right-edge">{{game.VisitorSchool?.Name}}</div>
</div>
<div class="bottom-flex-container">
  <div class="flex-left-edge">
    <div class="player-flex-container">
    <app-player-list #homeList [game]="game" [rosterType]="'home'"  (selectPlayer)="playerSelected($event)" [gameMode]="gameMode">
    </app-player-list>
   <app-player-list #visitorList [game]="game" [rosterType]="'visitor'" (selectPlayer)="playerSelected($event)"></app-player-list>
  </div>
  </div>
  <div class="flex-center">
   <app-stat-actions [game]="game" [currentPlayer]="currentPlayer" (action)="actionPerformed($event)"></app-stat-actions>
  </div>
  <div class="flex-right-edge">
    <app-statitem-list #statItemPanel [game]="game" (selectStatitem)="showStatItem($event)"
    [currentPlayer]="currentPlayer"></app-statitem-list>
  </div>
</div>

