.playerTable {
  display:table;
  background:rgb(179, 185, 218);
  color:white;
  margin-right:10px;
  border:2px solid #400D51;
  max-height:80vh;
  overflow:auto;
  width:18vw;
}

.onFloor {background:#d58bdd}

td {color:black;font-weight:bold;padding:20px;}

td:hover {color:white}

.flex-container-stat {
  display:flex;
  flex-wrap:wrap;
  background-color: #8D9EFF;
  width:100%;
  margin:0;
  padding-right:10px;
}

.flex-right {
  justify-content: flex-end;
}

.flex-stat {
  width:5vw;
  height:8vh;
  font-size:12px;
  font-weight:bold;
  margin:5px;
  padding:5px;
}
