<table mat-table [dataSource]="rosterList" class="mat-elevation-z8 playerTable">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="FullName">
    <th mat-header-cell *matHeaderCellDef>Player</th>
    <td mat-cell *matCellDef="let element"> {{element.RosterDescription(element.SchoolId===game.VisitorSchool.SchoolId)}} </td>
  </ng-container>

  <tr [ngClass]="row.OnFloor ? 'onFloor' : ''" mat-row *matRowDef="let row;let i=index; columns: displayedColumns;" (click)="selectRow(row)"></tr>
</table>