<div class="flex-container-stat">
    <button mat-raised-button class="flex-stat" (click)="registerStat('FT')">FT</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('2P')">2Pt</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3P')">3Pt</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('DREB')">DRb</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('FTM')">FTM</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('2PM')">2PM</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3PM')">3PM</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('OREB')">ORb</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('ASS')">Ass</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('SUB')">{{currentPlayer?.OnFloor ? 'Out' : 'In'}}</button>
  </div>