.flex-container-stat {
    display:flex;
    flex-wrap:wrap;
    background-color: palegoldenrod;
    width:100%;
    margin:0;
    padding-right:10px;
  }

  .flex-stat {
    width:20%;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

  .infoHeader {
    width:100%;
    text-align:center;
    font-size:20px;
    font-weight:bold;
  }
  
 button {
    color:purple;
    white-space: normal;
  }