.flex-container-stat {
    display:flex;
    flex-wrap:wrap;
    background-color: #8D9EFF;
    width:100%;
    margin:0;
    padding-right:10px;
  }

  .flex-stat {
    width:20%;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

  
 button {
    color:purple;
    max-width:6vw;
    text-align: center;
  }