<div class="infoHeader">{{this.currentPlayer ? this.currentPlayer.FullName : "(Select Player)"}}</div>
<div class="flex-container-stat">
    <button mat-raised-button class="flex-stat" (click)="registerStat('2PM')">2 Pt+</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('2PF')">2 Pt-</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3PM')">3 Pt+</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3PF')">3 Pt-</button>
  </div>
