<div class="infoHeader">{{this.currentPlayer ? this.currentPlayer.FullName : "(Select Player)"}}</div>
<div class="flex-container-stat">
    <button mat-raised-button class="flex-stat" (click)="registerStat('2PM')">2 Pt+</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('2PF')">2 Pt-</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3PM')">3 Pt+</button>
    <button mat-raised-button class="flex-stat" (click)="registerStat('3PF')">3 Pt-</button>
    <button mat-raised-button class="flex-stat" (click)="open(content)">Sub</button>
  </div>
 
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-player-list [game]="game" [rosterType]="'home'" (selectPlayer)="subPlayerSelected($event)"></app-player-list>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
 
